{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block content %}
<p>Добро пожаловать на наш сайт с каталогом курсов!</p>

    <h2>Популярные курсы:</h2>
    {% if courses %}
        {% for course in courses %}
        <div class="course-item">
            <h3><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></h3>
            <p>{{ course.min_description|slice:":100" }}...</p>
        </div>
        {% endfor %}
    {% else %}
        <p>Курсы пока не добавлены.</p>
    {% endif %}
    <p><a href="{% url 'courses' %}">Все курсы...</a></p>

    <h2>Лучшие преподаватели:</h2>
    {% if teachers %}
        {% for teacher in teachers %}
        <div class="author-item">
            <h3><a href="{% url 'teacher_detail' teacher.id %}">{{ teacher.first_name }} {{ teacher.last_name }}</a></h3>
        </div>
        {% endfor %}
    {% else %}
        <p>Преподаватели пока не добавлены.</p>
    {% endif %}
     <p><a href="{% url 'teachers' %}">Все преподаватели...</a></p>
<p class="error-message">ВНИМАНИЕ!!! ВСЕ ДАННЫЕ НА ДАННОМ САЙТЕ ЯВЛЯЮТСЯ ВЫМЫШЛЕННЫМИ И НЕ ЯВЛЯЮТСЯ РЕАЛЬНЫМИ!!!.</p>
{% endblock %}
