{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block content %}
<hl>Добавить студента</hl>
{% if form.errors %}
    <div class="alert alert-danger">
      <p>Исправьте ошибки ниже:</p>
      {{ form.non_field_errors }}
    </div>
{% endif %}

<form method="post">
  {% csrf_token %}

  {% for field in student_form %}
    <div class="form-group mb-3">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
            <smaill class="form-text text-muted">{{ field.help_text }}</smaill>
        {% endif %}
        {% for error in field.errors %}
            <div class="alert alert-danger" style="color: red; margin-top: 5px;">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
  <button type="submit">Создать</button>
</form>
<p class="error-message">ВНИМАНИЕ!!! НЕ УКАЗЫВАЙТЕ И НЕ ИСПОЛЬЗУЙТЕ СВОИ РЕАЛЬНЫЕ ДАННЫЕ!!!.</p>
{% endblock %}