{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block content %}
{% if student %}
    <h2>ID: {{ student.id }}</h2>
    <h2>Имя: {{  student.first_name  }}</h2>
    <h2>Фамилия: {{  student.last_name  }}</h2>
    <h2>Номер телефона: {{ student.phone_number }}</h2>

    <p>Почта: {{ student.email }}</p>
    <p>Дата рождения: {{ student.birth_date }}</p>
    <p>Серия и номер паспорта: {{ student.pass_serial }} {{ student.pass_number }}</p>
    <p>Дата выдачи паспорта: {{ student.pass_date }}</p>
    <p>Кем выдан паспорт: {{ student.pass_issued }}</p>

    <p>Адрес регистрации: {{ student.registration_address }}</p>
    <p>Адрес фактического проживания: {{ student.residential_address }}</p>

    <h3>Курсы, на которые записан студент:</h3>
        {% if courses_on_students %}
            <ul>
                {% for course in courses_on_students %}
                    <li><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></li>
                    <p><a href="{% url 'course_in_student_delete' student.id course.id %}">Отписаться от курса</a></p>
                {% endfor %}
            </ul>
        {% else %}
            <p>Студент пока не записан ни на один курс.</p>
        {% endif %}
    <p><a href="{% url 'course_in_student_create' student.id %}">Запись на курс</a></p>
    <p><a href="{% url 'student_update' student.id %}">Обновить информацию о студенте</a></p>
    <p><a href="{% url 'student_delete' student.id %}">Удалить информацию о студенте</a></p>
    <p><a href="{% url 'students' %}">Назад к списку студентов</a></p>

{% else %}
        <p class="error-message">Студент не найден.</p>
        <p><a href="{% url 'students' %}">Назад к списку студентов</a></p>
{% endif %}
<p class="error-message">ВНИМАНИЕ!!! ВСЕ ДАННЫЕ НА ДАННОЙ СТРАНИЦЕ ЯВЛЯЮТСЯ ВЫМЫШЛЕННЫМИ И НЕ ЯВЛЯЮТСЯ РЕАЛЬНЫМИ!!!.</p>
{% endblock %}