{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block content %}
<h3>Список студентов</h3>
  {% if students %}
        {% for student in students %}
        <div class="student-item">
            <h3><a href="{% url 'student_detail' student.id %}">{{ student.first_name }} {{ student.last_name }}</a></h3>
        </div>
        {% endfor %}
    {% else %}
        <p>Студенты пока не добавлены.</p>
    {% endif %}

<h3>Студенты, которые не записаны ни на один курс</h3>
<ul>
    {% for student in students_without_courses %}
        <h3>{{ student.first_name }} {{ student.last_name }}</a></h3>
    {% empty %}
        <h3>Все студенты записаны хотя-бы на один курс</h3>
    {% endfor %}
</ul>
<h3><a href="{% url 'student_create' %}">Добавить студента</a></h3>
{% endblock %}